{% extends 'base.html' %}

{% block page_title %}
    Search
{% endblock %}

{% block search-bar %}
{% endblock %}


{% block content %}
    <h2> Search! </h2>

    <form method="get" action='{% url "rooms:search" %}'>
        {{form.as_p}}
        <button>Search</button>
    </form>

    <div>
        <h3>Results</h3>

        {% if rooms|length == 0 %}
            <h4> No Result </h4>
            
        {% endif %}

        {% for room in rooms.object_list %}
            <h4><a href='{% url "rooms:detail" room.pk %}'>{{room.name}}</a></h4>
        {% endfor %}
        

    </div>
{% endblock %}